<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <!-- About -->
      {{ partial "about.html" . }}

      <!-- Venue -->
      {{ partial "venue.html" . }}

      <!-- Program -->
      {{ partial "program.html" . }}

      <!-- Registration -->
      {{ partial "registration.html" . }}

      <!-- Contact -->
      {{ partial "contact.html" . }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
