{{ if .Site.Params.googleTagManager }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{{ end }}

{{ if .IsHome }}
  <div class="row middle-xs center-xs" style="height: 85vh;">
    <canvas id="canvas"></canvas>
    <img style="max-height: 85vh; margin-top: -10vh;" {{ if .Site.Params.lazyLoading }}data-src="{{ .Site.Params.logoBig }}" lazyload="on"{{ else }}src="{{ .Site.Params.logoBig }}"{{ end }} alt="{{ .Site.Title }}" class="home-logo {{ if .Site.Params.lazyLoading }}lazyload{{ end }}">
  </div>
  <style>
    canvas {
      width: 100vw;
      height: 85%;
      display: absolute;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -9999;
    }
  </style>
  <script>
    const canvas = document.querySelector('#canvas');
    main();
    
    //
    // Start here
    //
    function main() {
      const gl = canvas.getContext('webgl');
      // If we don't have a GL context, give up now
    
      if (!gl) {
        alert('Unable to initialize WebGL. Your browser or machine may not support it.');
        return;
      }
    
      // Vertex shader program
    
      const vsSource = `
        attribute vec4 aVertexPosition;
    
        uniform mat4 uModelViewMatrix;
        uniform mat4 uProjectionMatrix;
    
        void main() {
          // We don't need the projection:
          //gl_Position = uProjectionMatrix * uModelViewMatrix * aVertexPosition;
    
          // Instead we pass through each vertex position as-is:
          gl_Position = aVertexPosition;
        }
      `;
    
      // Fragment shader program
    
      const fsSource = `
        precision mediump float;
    
    
        // Require resolution (canvas size) as an input
        uniform vec3 uResolution;
        uniform float iTime;

        // rand [0,1] https://www.shadertoy.com/view/4djSRW
        float rand(vec2 p) {
            p *= 500.0;
        	vec3 p3  = fract(vec3(p.xyx) * .1031);
            p3 += dot(p3, p3.yzx + 33.33);
            return fract((p3.x + p3.y) * p3.z);
        }
        
        // value noise
        float noise(vec2 p) {
        	vec2 f = smoothstep(0.0, 1.0, fract(p));
        	vec2 i = floor(p);
        	float a = rand(i);
        	float b = rand(i+vec2(1.0,0.0));
        	float c = rand(i+vec2(0.0,1.0));
        	float d = rand(i+vec2(1.0,1.0));
        	return mix(mix(a, b, f.x), mix(c, d, f.x), f.y);
        }
        
        // fractal noise
        float fbm(vec2 p) {
            float a = 0.5;
            float r = 0.0;
            for (int i = 0; i < 8; i++) {
                r += a*noise(p);
                a *= 0.5;
                p *= 2.0;
            }
            return r;
        }
        
        // lasers originating from a central point
        float laser(vec2 p, int num) {
        	float r = atan(p.x, p.y);
        	float sn = sin(r*float(num)+iTime);
            float lzr = 0.5+0.5*sn;
            lzr = lzr*lzr*lzr*lzr*lzr;
            float glow = pow(clamp(sn, 0.0, 1.0),100.0);
        	return lzr+glow;
        }
        
        // mix of fractal noises to simulate fog
        float clouds(vec2 uv) {
            vec2 t = vec2(0,iTime);
        	float c1 = fbm(fbm(uv*3.0)*0.75+uv*3.0+t/3.0);
        	float c2 = fbm(fbm(uv*2.0)*0.5+uv*7.0+t/3.0);
        	float c3 = fbm(fbm(uv*10.0-t)*0.75+uv*5.0+t/6.0);
            float r = mix(c1, c2, c3*c3);
        	return r*r;
        }
        
        void main() {
            vec2 uv = gl_FragCoord.xy/uResolution.y;
            vec2 hs = vec2(uResolution.xy)/uResolution.y*0.5;
            vec2 uvc = uv-hs;
        	float l = (1.0 + 3.0*noise(vec2(15.0-iTime)))
                * laser(vec2(uv.x+0.5, uv.y*(0.5 + 10.0*noise(vec2(iTime/5.0))) + 0.1), 15);
        	l += fbm(vec2(2.0*iTime))
                * laser(vec2(hs.x-uvc.x-0.2, uv.y+0.1), 25);
        	l += noise(vec2(iTime-73.0))
                * laser(vec2(uvc.x, 1.0-uv.y+0.5), 30);
            float c = clouds(uv);
            vec4 col = vec4(normalize(vec3(.5, 2, 0)), 1)*(uv.y*l+uv.y*uv.y)*c;
            if (col.a > 1.) col.a = 1.;
            gl_FragColor = pow(col * vec4(1, 1, 1, .7), vec4(1));
        }
      `;  
    
      // Initialize a shader program; this is where all the lighting
      // for the vertices and so forth is established.
      const shaderProgram = initShaderProgram(gl, vsSource, fsSource);
    
      // Collect all the info needed to use the shader program.
      // Look up which attribute our shader program is using
      // for aVertexPosition and look up uniform locations.
      const programInfo = {
        program: shaderProgram,
        attribLocations: {
          vertexPosition: gl.getAttribLocation(shaderProgram, 'aVertexPosition'),
        },
        uniformLocations: {
          projectionMatrix: gl.getUniformLocation(shaderProgram, 'uProjectionMatrix'),
          modelViewMatrix: gl.getUniformLocation(shaderProgram, 'uModelViewMatrix'),
          resolution: gl.getUniformLocation(shaderProgram, 'uResolution'),
          time: gl.getUniformLocation(shaderProgram, 'iTime'),
        },
      };
    
      // Here's where we call the routine that builds all the
      // objects we'll be drawing.
      const buffers = initBuffers(gl);
    
      // Draw the scene
      setInterval(function() { drawScene(gl, programInfo, buffers) }, 1000. / 60.);
    }
    
    //
    // initBuffers
    //
    // Initialize the buffers we'll need. For this demo, we just
    // have one object -- a simple two-dimensional square.
    //
    function initBuffers(gl) {
    
      // Create a buffer for the square's positions.
    
      const positionBuffer = gl.createBuffer();
    
      // Select the positionBuffer as the one to apply buffer
      // operations to from here out.
    
      gl.bindBuffer(gl.ARRAY_BUFFER, positionBuffer);
    
      // Now create an array of positions for the square.
    
      const positions = [
         1.0,  1.0,
        -1.0,  1.0,
         1.0, -1.0,
        -1.0, -1.0,
      ];
    
      // Now pass the list of positions into WebGL to build the
      // shape. We do this by creating a Float32Array from the
      // JavaScript array, then use it to fill the current buffer.
    
      gl.bufferData(gl.ARRAY_BUFFER,
                    new Float32Array(positions),
                    gl.STATIC_DRAW);
    
      return {
        position: positionBuffer,
      };
    }
    
    var i = 1.;
    //
    // Draw the scene.
    //
    function drawScene(gl, programInfo, buffers) {
      gl.clearColor(0.0, 0.0, 0.0, 1.0);  // Clear to black, fully opaque
      gl.clearDepth(1.0);                 // Clear everything
      gl.enable(gl.DEPTH_TEST);           // Enable depth testing
      gl.depthFunc(gl.LEQUAL);            // Near things obscure far things
    
      // Clear the canvas before we start drawing on it.
    
      gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    
      // Create a perspective matrix, a special matrix that is
      // used to simulate the distortion of perspective in a camera.
      // Our field of view is 45 degrees, with a width/height
      // ratio that matches the display size of the canvas
      // and we only want to see objects between 0.1 units
      // and 100 units away from the camera.
    
      const fieldOfView = 45 * Math.PI / 180;   // in radians
      const aspect = gl.canvas.clientWidth / gl.canvas.clientHeight;
      const zNear = 0.1;
      const zFar = 100.0;
      const projectionMatrix = mat4.create();
    
      // note: glmatrix.js always has the first argument
      // as the destination to receive the result.
      mat4.perspective(projectionMatrix,
                       fieldOfView,
                       aspect,
                       zNear,
                       zFar);
    
      // Set the drawing position to the "identity" point, which is
      // the center of the scene.
      const modelViewMatrix = mat4.create();
    
      // Now move the drawing position a bit to where we want to
      // start drawing the square.
    
      mat4.translate(modelViewMatrix,     // destination matrix
                     modelViewMatrix,     // matrix to translate
                     [-0.0, 0.0, -6]);  // amount to translate
    
      // Tell WebGL how to pull out the positions from the position
      // buffer into the vertexPosition attribute.
      {
        const numComponents = 2;
        const type = gl.FLOAT;
        const normalize = false;
        const stride = 0;
        const offset = 0;
        gl.bindBuffer(gl.ARRAY_BUFFER, buffers.position);
        gl.vertexAttribPointer(
            programInfo.attribLocations.vertexPosition,
            numComponents,
            type,
            normalize,
            stride,
            offset);
        gl.enableVertexAttribArray(
            programInfo.attribLocations.vertexPosition);
      }
    
      // Tell WebGL to use our program when drawing
    
      gl.useProgram(programInfo.program);
    
      // Set the shader uniforms
    
      gl.uniformMatrix4fv(
          programInfo.uniformLocations.projectionMatrix,
          false,
          projectionMatrix);
      gl.uniformMatrix4fv(
          programInfo.uniformLocations.modelViewMatrix,
          false,
          modelViewMatrix);
      
      gl.uniform3f(programInfo.uniformLocations.resolution, canvas.width, canvas.height, 1.0);  
      //gl.uniform1f(programInfo.uniformLocations.time, Math.floor((new Date()).getTime()) / 1000.);
      gl.uniform1f(programInfo.uniformLocations.time, i += .01);
    
      {
        const offset = 0;
        const vertexCount = 4;
        gl.drawArrays(gl.TRIANGLE_STRIP, offset, vertexCount);
      }
    }
    
    //
    // Initialize a shader program, so WebGL knows how to draw our data
    //
    function initShaderProgram(gl, vsSource, fsSource) {
      const vertexShader = loadShader(gl, gl.VERTEX_SHADER, vsSource);
      const fragmentShader = loadShader(gl, gl.FRAGMENT_SHADER, fsSource);
    
      // Create the shader program
    
      const shaderProgram = gl.createProgram();
      gl.attachShader(shaderProgram, vertexShader);
      gl.attachShader(shaderProgram, fragmentShader);
      gl.linkProgram(shaderProgram);
    
      // If creating the shader program failed, alert
    
      if (!gl.getProgramParameter(shaderProgram, gl.LINK_STATUS)) {
        alert('Unable to initialize the shader program: ' + gl.getProgramInfoLog(shaderProgram));
        return null;
      }
    
      return shaderProgram;
    }
    
    //
    // creates a shader of the given type, uploads the source and
    // compiles it.
    //
    function loadShader(gl, type, source) {
      const shader = gl.createShader(type);
    
      // Send the source to the shader object
    
      gl.shaderSource(shader, source);
    
      // Compile the shader program
    
      gl.compileShader(shader);
    
      // See if it compiled successfully
    
      if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
        alert('An error occurred compiling the shaders: ' + gl.getShaderInfoLog(shader));
        gl.deleteShader(shader);
        return null;
      }
    
      return shader;
    }
  </script>
{{ end }}

<nav class="row middle-xs center-xs">
  <div class="col-xs-6 col-sm-1 logo">
  </div>
    {{ range .Site.Menus.main }}
      <div class="col-xs-3 col-sm-2">
        <h3><a href="{{ .URL }}">{{ .Name }}</a></h3>
      </div>
    {{ end }}
  <div class="col-xs-6 col-sm-1 nav-toggle">
      <a href="" class="nav-icon" onclick="return false">
        <img {{ if .Site.Params.lazyLoading }}data-src="/images/icon-menu.png" class="lazyload" lazyload="on"{{ else }}src="/images/icon-menu.png"{{ end }} alt="Open Menu">
        <img {{ if .Site.Params.lazyLoading }}data-src="/images/icon-x.png" class="lazyload" lazyload="on"{{ else }}src="/images/icon-x.png"{{ end }} alt="Close Menu" style="display: none;">
      </a>
  </div>
</nav>

<section class="nav-full row middle-xs center-xs">
  <div class="col-xs-12">
    <div class="row middle-xs center-xs">
      {{ range .Site.Menus.main }}
        <div class="col-xs-12"><h1><a href="{{ .URL }}">{{ .Name }}</a></h1></div>
      {{ end }}
    </div>
  </div>
</section>
