<footer class="row middle-xs center-xs">
  <div class="col-xs-12" style="margin-top: 2rem;">
    <h3>Our sponsors:</h3>
    to be announced...
  </div>

  <div class="col-xs-12">
  </div>

  {{ if or (.Site.Params.copyright) (.Site.Params.credit) }}
    <div class="col-xs-12">
      {{ if .Site.Params.copyright }}
      {{ i18n "copyright" }} &copy; {{ now.Format "2006" }} {{ .Site.Title }}.
      {{ end }}
      {{ if .Site.Params.credit }}
        <a href="https://tomanistor.com" target="_blank" rel="nofollow">{{ i18n "themeDevelopedBy" }} Toma Nistor</a>
      {{ end }}
    </div>
  {{ end }}

  Shader by R3N (<a style="color: black;" href="https://www.shadertoy.com/view/7tBSR1">Shadertoy</a>)

</footer>
