{{ $directory := "content/" }}
{{ $filename := "venue.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="about" id="venue">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" "venue" }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 middle-xs">
          {{ with $.Site.GetPage "page" "venue" }}
            {{ .Content }}
          {{ end }}
          <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1G0I8cPeL_Px-Sf-ofkYtB42cNfpjpyc&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
        </div>
      </div>
    </div>
  </section>
  <br>
  <center><h1>•••</h1></center>
{{ end }}
